In [1]:
from db_queries import get_model_results

In [2]:
vitA_df = get_model_results('epi', 2510, gbd_round_id=5, location_set_id=22, sex_id=[1,2])
vitA_df

,model_version_id,location_id,year_id,age_group_id,sex_id,measure_id,measure,mean,lower,upper
0,321155,1,1990,2,1,6,incidence,0.271936,0.236371,0.310223
1,321155,1,1990,3,1,6,incidence,0.275053,0.240070,0.312129
2,321155,1,1990,4,1,6,incidence,0.297204,0.263272,0.329833
3,321155,1,1990,5,1,6,incidence,0.302960,0.265350,0.331223
4,321155,1,1990,6,1,6,incidence,0.253709,0.228238,0.280157
...,...,...,...,...,...,...,...,...,...,...
2839195,321155,53432,2017,30,2,7,remission,1.897325,1.726595,1.985205
2839196,321155,53432,2017,31,2,7,remission,1.903791,1.730725,1.987602
2839197,321155,53432,2017,32,2,7,remission,1.910257,1.735677,1.991020
2839198,321155,53432,2017,164,2,7,remission,1.533874,0.995862,1.962000
2839199,321155,53432,2017,235,2,7,remission,1.916718,1.744590,1.995000

In [6]:
vitA_df.query('measure == "remission" and measure_id == 7')

,model_version_id,location_id,year_id,age_group_id,sex_id,measure_id,measure,mean,lower,upper
2555280,321155,1,1990,2,1,7,remission,1.350602,1.048709,1.647343
2555281,321155,1,1990,3,1,7,remission,1.350831,1.065246,1.645129
2555282,321155,1,1990,4,1,7,remission,1.314637,1.067627,1.587828
2555283,321155,1,1990,5,1,7,remission,1.094741,0.856834,1.334532
2555284,321155,1,1990,6,1,7,remission,1.159793,0.984903,1.344759
...,...,...,...,...,...,...,...,...,...,...
2839195,321155,53432,2017,30,2,7,remission,1.897325,1.726595,1.985205
2839196,321155,53432,2017,31,2,7,remission,1.903791,1.730725,1.987602
2839197,321155,53432,2017,32,2,7,remission,1.910257,1.735677,1.991020
2839198,321155,53432,2017,164,2,7,remission,1.533874,0.995862,1.962000
2839199,321155,53432,2017,235,2,7,remission,1.916718,1.744590,1.995000